# Database
DATABASE_URL="postgresql://username:password@localhost:5432/brian_db?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-generate-with-openssl-rand-base64-32"

# Vercel Blob (para uploads)
BLOB_READ_WRITE_TOKEN="your-vercel-blob-token"
